body {
    margin: 0px;
}

body, input {
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
}

input:focus {
    outline: none;
}

section, p {
    text-align: justify;
}

#sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #C33F35;
    transition: 0.5s;
    padding: 0px;
    margin: 0px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

#sidenav.nav {
    width: 300px;
}

#sidenav.no-nav {
    width: 0px;
}

#sidenav-modules {
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    flex: 1 1 0.0%;
}

#sidenav ul {
    padding-left: 10px;
}

#sidenav ul li {
    list-style-type: none;
    line-height: 27px;
}

#sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.0em;
    color: #f1f1f1;
    transition: 0.3s;
}

#sidenav a:hover {
    text-shadow: 0 0 3px #fff;
    color: #fff;
}

#sidenav-title {
    margin: 60px 0 10px 30px;
}

#sidenav-title h1 {
    font-size: 1.5em;
    margin: 5px 0px;
}

#sidenav-title h2 {
    font-size: 1em;
    margin: 5px 0px;
}

#search {
    position: absolute;
    top: 9px;
    left: 10px;
    height: 30px;
    width: 280px;
    border: none;
    border-radius: 5px;
    padding: 0px 30px 0px 15px;
    font-size: 1em;
}

#hide-nav-button, #show-nav-button {
    position: absolute;
    top: 8px;
    font-size: 20px;
    cursor: pointer;
}

#hide-nav-button {
    right: 15px;
    color: #333;
}

#show-nav-button {
    left: 15px;
    transition: visibility 0s, opacity 0.5s linear;
}

#show-nav-button.nav {
    visibility: hidden;
    opacity: 0;
}

#show-nav-button.no-nav {
    visibility: visible;
    opacity: 1;
}

#main {
    transition: margin-left .5s;
    padding: 0px;
    margin: 0px;
}

#main.nav {
    margin-left: 300px;
}

#main.no-nav {
    margin-left: 0px;
}

@media screen and (max-height: 450px) {
    #sidenav {padding-top: 15px;}
    #sidenav a {font-size: 18px;}
}

#content {
    max-width: 829px;
    margin: 0 auto;
    padding: 3px 60px;
}

#content ul li a, #content h2 a {
    text-decoration: none;
    color: #000000;
}

#content a {
    color: #C33F35;
    font-weight: bold;
    text-decoration: none;
}

#content a:visited {
    color: #ce9393;
}

#content a:hover {
    text-decoration: underline;
}


#content h1 {
    font-size: 2.0em;
    margin: 40px 0px 20px 0px;
}

#summary ul {
    padding: 0px;
}

#summary ul li {
    list-style-type: none;
    margin: 10px 0px;
}

#summary .synopsis {
    margin-top: 10px;
    padding-left: 20px;
    font-style: italic;
}

.signature, .definition {
    margin: 5px 0px 0px 0px;
    font-family: "Lucida Console", Monaco, monospace;
}

.signature {
    font-size: 0.8rem;
    font-weight: bold;
}

.definition {
    font-size: 0.7rem;
    color: #666;
}

#functions h2, #types h2 {
    background: #EEE;
    padding: 10px;
    border-left: #C33F35 3px solid;
}
