body {
    font-family: "Lato", sans-serif;
}

#sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: #ffffff;
}

#sidenav h1, #sidenav h2 {
    padding: 0px 0px 0px 32px;
    margin: 5px 0px;
}

#sidenav.nav {
    width: 300px;
}

#sidenav.no-nav {
    width: 0px;
}

#sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.0em;
    color: #aaaaaa;
    display: block;
    transition: 0.3s;
}

#sidenav a:hover {
    color: #f1f1f1;
}

#sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 25px;
    margin-left: 50px;
}

#show-nav-button {
    font-size: 25px;
    cursor: pointer;
    transition: visibility 0s, opacity 0.5s linear;
}

#show-nav-button.nav {
    visibility: hidden;
    opacity: 0;
}

#show-nav-button.no-nav {
    visibility: visible;
    opacity: 1;
}

#main {
    transition: margin-left .5s;
    padding: 0px;
    margin: 0px;
}

#main.nav {
    margin-left: 300px;
}

#main.no-nav {
    margin-left: 0px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#content {
    margin: auto;
    width: 800px;
}

#content a {
    text-decoration: none;
    color: #000000;
}

pre {
    margin: 10px 0px;
}
